.border-gray{
  border: 1px solid #6C757D;
  .blog-card-container{
    max-width: 1296px;
    margin: auto;
    padding: 0 10px;
    .search{
      display: flex;
      align-items: center;
      max-width: 350px;
      padding: 10px;
      border: 1px solid #000000;
      border-radius: 20px;
      margin: 60px 10px 30px 10px;
      input{
        width: 350px;
        margin-left: 3px;
        border: 0;
        font-size: 16px;
        background-color: #FBFBFB;;
      }
    }
    .card{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: auto;
      li{
        width: 33%;
        padding: 5px;
        img{
          width: 100%;
          justify-content: center;
        }
        .date{
          display: block;
          font-size: 18px;
        }
        .tag{
          font-size: 20px;
          color: #0027D5;
          font-weight: 500;
          margin-right: 10px;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover{
            color: #0072d5;
            transition: all 0.3s ease;
          }
        }
        .forpop{
          display: flex;
          flex-wrap: wrap;
          align-items: center
        }
        .popular{
          background-color: #0027D5;
          color: #fff;
          border-radius: 50px;
          padding: 5px 12px;
          font-size: 15px;
        }
        .forh2{
          font-size: 28px;
          font-weight: 600;
        }
        .content{
          color: #4B4B4B;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .btn{
          display: block;
          width: 100px;
          text-align: center;
          color: #4B4B4B;
          text-decoration: none;
          border: 1px #4B4B4B solid;
          border-radius: 50px;
          padding: 5px;
          margin: 10px 0;
          transition: all 0.3s ease;
          &:hover{
            background-color: #4B4B4B;
            color: #fff;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1199px) {
.border-gray{
    .blog-card-container{
      .card{
        li {
          width: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
.border-gray{
    .blog-card-container{
      .card{
        li {
          width: 100%;
        }
      }
    }
  }
}