.blog{
  .title{
    font-size: 64px;
    font-weight: 700;
    margin: 70px auto 70px 7%;
  }
  .forcard{
    display: flex;
    align-items: center;
    .fa-solid.fa-arrow-right{
      background-color: #0027D5;
      color:#ffffff;
      font-size: 28px;
      border-radius: 50%;
      padding: 7px 8px;
      margin-right: 5%;
      margin-left: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover{
        background-color: #0072d5;
        transition: all 0.3s ease;
      }
    }
    .fa-solid.fa-arrow-left{
      background-color: #B2BEF2;
      color:#ffffff;
      font-size: 28px;
      border-radius: 50%;
      padding: 7px 8px;
      margin-left: 5%;
      margin-right: 10px;
      cursor: not-allowed;
    }
    .card{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1296px;
      margin: auto;
      li{
        width: 32%;
        padding: 5px;
        img{
          width: 100%;
          justify-content: center;
        }
        .date{
          display: block;
          font-size: 18px;
        }
        .tag{
          font-size: 20px;
          color: #0027D5;
          font-weight: 500;
          margin-right: 10px;
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover{
            color: #0072d5;
            transition: all 0.3s ease;
          }
        }
        .forpop{
          display: flex;
          flex-wrap: wrap;
          align-items: center
        }
        .popular{
          background-color: #0027D5;
          color: #fff;
          border-radius: 50px;
          padding: 5px 12px;
          font-size: 15px;
        }
        .forh2{
          font-size: 28px;
          font-weight: 600;
        }
        .content{
          color: #4B4B4B;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        .btn{
          display: block;
          width: 100px;
          text-align: center;
          color: #4B4B4B;
          text-decoration: none;
          border: 1px #4B4B4B solid;
          border-radius: 50px;
          padding: 5px;
          margin: 10px 0;
          transition: all 0.3s ease;
          &:hover{
            background-color: #4B4B4B;
            color: #fff;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  
}