.new-article{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #6C757D;
  .articel-img{
    width: 50%;
    img{
      width: 100%;
    }
  }
  .articel-card{
    width: 50%;
    .card{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto;
      li{
        padding: 20px 140px 20px 20px;
        .date{
          display: block;
          font-size: 18px;
          margin-bottom: 5px;
        }
        .tag{
          font-size: 20px;
          color: #0027D5;
          font-weight: 500;
          margin-right: 10px;
          margin-bottom: 5px;
          text-decoration: none;
          &:hover{
            color: #0072d5;
          }
        }
        .forpop{
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          margin-bottom: 5px;
        }
        .popular{
          background-color: #0027D5;
          color: #fff;
          border-radius: 50px;
          padding: 5px 12px;
          font-size: 15px;
          margin-bottom: 5px;
        }
        .forh2{
          font-size: 24px;
          font-weight: 600;
          margin-bottom: 5px;
        }
        .content{
          color: #4B4B4B;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          margin-bottom: 5px;
        }
        .btn{
          display: block;
          width: 100px;
          text-align: center;
          color: #4B4B4B;
          text-decoration: none;
          border: 1px #4B4B4B solid;
          border-radius: 50px;
          padding: 5px;
          margin: 10px 0;
          transition: all 0.3s ease;
          &:hover{
            background-color: #4B4B4B;
            color: #fff;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
  
}
@media screen and (max-width: 1199px) {
  .new-article{
    display: block;
    .articel-img{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .articel-card{
      width: 100%;
            .card{
        li{
          padding: 10px;
        }
      }
    }
  }
}