/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Kaushan+Script&family=Noto+Sans+TC:wght@100..900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1.5;
  background-color: #FBFBFB;
  font-family: "Noto Sans TC", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  background-color: #FBFBFB;
  position: sticky;
  top: 0;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  padding: 15px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  transition: all 0.3s ease;
}
nav ul li a:hover {
  color: #858585;
  transition: all 0.3s ease;
}

.intro-img {
  display: flex;
}
.intro-img img {
  width: 50%;
}
.intro-img .intro_title {
  margin: 13% 0 0 -45%;
}
.intro-img .intro_title .name {
  font-size: 80px;
  font-weight: 900;
  color: #0027D5;
}
.intro-img .intro_title .job {
  font-size: 28px;
  font-weight: 700;
  color: #0027D5;
}

.intro_content {
  background-color: #ffffff;
  margin: -10% 4% 0 auto;
  max-width: 900px;
  padding: 40px 80px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
  position: relative;
}
.intro_content .word {
  color: #000000;
  font-size: 28px;
}
.intro_content .media ul {
  display: flex;
}
.intro_content .media ul li img {
  transition: all 0.3s ease;
}
.intro_content .media ul li img:hover {
  background-color: #e9e9e9;
  transition: all 0.3s ease;
}

.plan .title {
  font-size: 64px;
  font-weight: 700;
  margin: 70px auto 70px 7%;
}
.plan .service {
  display: flex;
  max-width: 1296px;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 64px;
}
.plan .service .service_pic {
  margin-left: 5%;
}
.plan .service .service_pic2 {
  margin-left: 0;
}
.plan .service .service_content {
  background-color: #fff;
  width: 38%;
  padding: 24px;
  margin-left: -2%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1;
}
.plan .service .service_content .line {
  width: 30px;
  height: 2.5px;
  background-color: #0027D5;
  margin: 15px 0;
}
.plan .service .service_content .plan_title {
  font-size: 28px;
}
.plan .service .service_content2 {
  margin-left: 5%;
  margin-right: -2%;
}
.plan .contact {
  margin-right: 10%;
  margin-top: -3%;
  font-size: 28px;
  font-weight: 700;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.plan .contact .fa-solid.fa-arrow-right {
  border: 3px solid #000000;
  border-radius: 50%;
  padding: 6px 8px;
}

.blog .title {
  font-size: 64px;
  font-weight: 700;
  margin: 70px auto 70px 7%;
}
.blog .forcard {
  display: flex;
  align-items: center;
}
.blog .forcard .fa-solid.fa-arrow-right {
  background-color: #0027D5;
  color: #ffffff;
  font-size: 28px;
  border-radius: 50%;
  padding: 7px 8px;
  margin-right: 5%;
  margin-left: 10px;
  cursor: pointer;
}
.blog .forcard .fa-solid.fa-arrow-right:hover {
  background-color: #0072d5;
}
.blog .forcard .fa-solid.fa-arrow-left {
  background-color: #B2BEF2;
  color: #ffffff;
  font-size: 28px;
  border-radius: 50%;
  padding: 7px 8px;
  margin-left: 5%;
  margin-right: 10px;
  cursor: not-allowed;
}
.blog .forcard .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1296px;
  margin: auto;
}
.blog .forcard .card li {
  width: 32%;
  padding: 5px;
}
.blog .forcard .card li img {
  width: 100%;
  justify-content: center;
}
.blog .forcard .card li .date {
  display: block;
  font-size: 18px;
}
.blog .forcard .card li .tag {
  font-size: 20px;
  color: #0027D5;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
}
.blog .forcard .card li .tag:hover {
  color: #0072d5;
}
.blog .forcard .card li .forpop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.blog .forcard .card li .popular {
  background-color: #0027D5;
  color: #fff;
  border-radius: 50px;
  padding: 5px 12px;
  font-size: 15px;
}
.blog .forcard .card li .forh2 {
  font-size: 28px;
  font-weight: 600;
}
.blog .forcard .card li .content {
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.blog .forcard .card li .btn {
  display: block;
  width: 100px;
  text-align: center;
  color: #4B4B4B;
  text-decoration: none;
  border: 1px #4B4B4B solid;
  border-radius: 50px;
  padding: 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
}
.blog .forcard .card li .btn:hover {
  background-color: #4B4B4B;
  color: #fff;
  transition: all 0.3s ease;
}

.new-article {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #6C757D;
}
.new-article .articel-img {
  width: 50%;
}
.new-article .articel-img img {
  width: 100%;
}
.new-article .articel-card {
  width: 50%;
}
.new-article .articel-card .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.new-article .articel-card .card li {
  padding: 20px 140px 20px 20px;
}
.new-article .articel-card .card li .date {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
.new-article .articel-card .card li .tag {
  font-size: 20px;
  color: #0027D5;
  font-weight: 500;
  margin-right: 10px;
  margin-bottom: 5px;
  text-decoration: none;
}
.new-article .articel-card .card li .tag:hover {
  color: #0072d5;
}
.new-article .articel-card .card li .forpop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5px;
}
.new-article .articel-card .card li .popular {
  background-color: #0027D5;
  color: #fff;
  border-radius: 50px;
  padding: 5px 12px;
  font-size: 15px;
  margin-bottom: 5px;
}
.new-article .articel-card .card li .forh2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}
.new-article .articel-card .card li .content {
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 5px;
}
.new-article .articel-card .card li .btn {
  display: block;
  width: 100px;
  text-align: center;
  color: #4B4B4B;
  text-decoration: none;
  border: 1px #4B4B4B solid;
  border-radius: 50px;
  padding: 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
}
.new-article .articel-card .card li .btn:hover {
  background-color: #4B4B4B;
  color: #fff;
  transition: all 0.3s ease;
}

.blog-container {
  border: 1px solid #6C757D;
}
.blog-container .blog-card {
  max-width: 1296px;
  margin: auto;
}
.blog-container .blog-card .search {
  display: flex;
  align-items: center;
  max-width: 350px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 60px 10px 30px 10px;
}
.blog-container .blog-card .search input {
  width: 350px;
  margin-left: 3px;
  border: 0;
  font-size: 16px;
}
.blog-container .blog-card .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1296px;
  margin: auto;
}
.blog-container .blog-card .card li {
  width: 33%;
  padding: 5px;
}
.blog-container .blog-card .card li img {
  width: 100%;
  justify-content: center;
}
.blog-container .blog-card .card li .date {
  display: block;
  font-size: 18px;
}
.blog-container .blog-card .card li .tag {
  font-size: 20px;
  color: #0027D5;
  font-weight: 500;
  margin-right: 10px;
  text-decoration: none;
}
.blog-container .blog-card .card li .tag:hover {
  color: #0072d5;
}
.blog-container .blog-card .card li .forpop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.blog-container .blog-card .card li .popular {
  background-color: #0027D5;
  color: #fff;
  border-radius: 50px;
  padding: 5px 12px;
  font-size: 15px;
}
.blog-container .blog-card .card li .forh2 {
  font-size: 28px;
  font-weight: 600;
}
.blog-container .blog-card .card li .content {
  color: #4B4B4B;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.blog-container .blog-card .card li .btn {
  display: block;
  width: 100px;
  text-align: center;
  color: #4B4B4B;
  text-decoration: none;
  border: 1px #4B4B4B solid;
  border-radius: 50px;
  padding: 5px;
  margin: 10px 0;
  transition: all 0.3s ease;
}
.blog-container .blog-card .card li .btn:hover {
  background-color: #4B4B4B;
  color: #fff;
  transition: all 0.3s ease;
}

.page {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(134, 134, 134, 0.15);
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 50px auto;
  border-radius: 50px;
}
.page li a {
  padding: 10px 12px;
  border-radius: 3px;
  text-decoration: none;
  color: #4B4B4B;
}
.page li a:hover {
  color: #0027D5;
  background-color: #e9e9e9;
}
.page .active {
  color: #0027D5;
  background-color: #e9e9e9;
}

.footer1 {
  display: flex;
  justify-content: space-between;
  max-width: 1296px;
  margin: 40px auto;
}
.footer1 p {
  font-size: 32px;
}
.footer1 .media {
  display: flex;
}
.footer1 .media li img {
  transition: all 0.3s ease;
}
.footer1 .media li img:hover {
  background-color: #e9e9e9;
  transition: all 0.3s ease;
}

.footer2 {
  background-color: #ffffff;
}
.footer2 p {
  text-align: center;
  padding: 24px;
}/*# sourceMappingURL=all.css.map */